.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.column {
    background-color:darkgrey;
    padding: 1em 0;
    flex: 1;
}

.userInput {
    display: block;
    margin: auto;
    margin-bottom: 18px;
}
